<footer>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <h4>We are open</h4>Rigs of Rods is free and open source, available under the
        <a href="https://www.gnu.org/Copyleft/" title="Copyleft licensing">copyleft</a>-style
        <a href="http://www.gnu.org/licenses/gpl-3.0.html" title="The GPLv3 license">GPLv3</a> license.
        <br> <br>
        <script type='text/javascript' src='https://www.openhub.net/p/rigs-of-rods/widgets/project_thin_badge?format=js' async></script>
      </div>
      <div class="small-12 medium-2 columns">
        <h4>Home</h4>
        <ul>
          <li>
            <a href="//download.rigsofrods.org" title="Get the game">Download</a>
          </li>
          <!--
        <li>
        <a href="//rigsofrods.org/en/blog" title="Read the blog">Blog</a>
        </li>
        -->
          <li>
            <a href="//docs.rigsofrods.org/" title="Read the docs">Docs</a>
          </li>
        </ul>
      </div>
      <div class="small-12 medium-2 columns">
        <h4>Forum</h4>
        <ul>
          <li>
            <a href="//forum.rigsofrods.org/" title="Talk to the community">Index</a>
          </li>
          <li>
            <a href="//forum.rigsofrods.org/member.php?action=register" title="Register at the forum">Register</a>
          </li>
          <li>
            <a href="//forum.rigsofrods.org/search.php" title="Find what you need">Search</a>
          </li>
        </ul>
      </div>
      <div class="small-12 medium-4 columns">
        <h4>Follow us</h4>
        <ul class="home-social">
          <li>
            <a class="fa fa-steam-square" href="http://steamcommunity.com/groups/rigs-of-rods"></a>
            <!--<a class="fa fa-facebook" href="https://facebook.com/rigsofrods"></a>
            <a class="fa fa-twitter" href="https://twitter.com/rigsofrods"></a> -->
            <a class="fa fa-github" href="https://github.com/RigsOfRods/rigs-of-rods"></a>
          </li>
        </ul>
      </div>
    </div>
</footer>
<script>
    $(document).foundation();
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.rigsofrods.org"]);
  _paq.push(["setDomains", ["*.rigsofrods.org"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.rigsofrods.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.rigsofrods.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79015233-1', 'auto');
  ga('send', 'pageview');

</script>
