<style>
	body{
		background: url(//rigsofrods.org/images/screenshots/ror-screenshot4_blur.jpg);
		background-size: cover;
		background-attachment: fixed;
		overflow:hidden;
	}
</style>


<div class="row" style="height:100%; color:white;">
  <center style="padding:3em;">		 		
  	<h1>Thank you for downloading Rigs of Rods V<%= version %></h1>		 
  	<small> Not downloading? <a href="<%= url %>">Try this direct link</a> </small>
 		<br>		
 		<br>		
		<div>	
			<h3 id="thingsyoucando">Here’s are some things to get you started.</h3> 
			<p>	
				<a class="button" href="https://forum.rigsofrods.org/thread-274.html">Read the General FAQ</a>
				<br>
				<a class="button" href="http://dl.rigsofrods.org/pack_highquality04_wo_contentpack.zip">Download the high quality content pack</a>
				<br>	
				<a class="button" href="https://forum.rigsofrods.org/forum-21.html">Tryout development versions</a> 
				<br>	
				<a class="button" href="https://forum.rigsofrods.org/">Join the forum</a>
				<br>	
			</p>
		</div>		
  </center>	
</div>




<iframe style="display:none" src="<%= url %>"></iframe>


