<style>
	body{
		background: url(//rigsofrods.org/images/screenshots/ror-screenshot4_blur.jpg);
		background-size: cover;
		background-attachment: fixed;
		overflow:hidden;
	}
</style>


<div style="padding:5em; height:100%; color:white;">
	<center style="padding:3em;">
		<h2>Latest release: <%= version %> for <%= os_full_name %></h2>
		<br>
		<a href="<%= url %>" class="large button"><span class="show-for-large fa fa-download"/> Download</a>
		<br>
		<small>Not the correct version or wrong OS? <a href="/index.html#NoRedirect">See all versions</a></small>
	</center>
</div>



