<script>

    var useros = navigator.appVersion;

    var suported_os = ["Win", "Mac", "Linux"];
    
    var goto = "/index.html#NoRedirect";
    
    var d = window.location.hash.substring(1);
    
    suported_os.forEach(function(os) {
      if (useros.indexOf(os)!=-1) {
        goto = "/"+os+".html";
      }
    })
    
    
    if(d.length == 0 || d != "NoRedirect"){
       self.location = goto;
    }
    
</script>

<style>
	body{
		background: url(//rigsofrods.org/images/screenshots/ror-screenshot4_blur.jpg);
		background-size: cover;
		background-attachment: fixed;
	}
</style>


<div class="row" style="color:white;"> 
  <header><h1>Download</h1>
  </header>
    <div class="sect1">
      <div class="sectionbody">
        <div class="sect2">
          <h3 id="windows">Windows</h3>
          <div class="ulist">
            <ul>
              <li>
              <p>Download the latest stable release 
                <a href="https://github.com/RigsOfRods/rigs-of-rods/releases">here</a> (recommended)
              </p>
              </li>
              <li>
              <p>Preview builds for upcoming versions may be found 
                <a href="http://forum.rigsofrods.org/forum-21.html">here</a>
              </p>
              </li>
              <li>
              <p>If you want to build from source see 
                <a href="https://github.com/RigsOfRods/rigs-of-rods/wiki/Compile-(Windows)">Compiling on Windows</a>
              </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="sect2">
          <h3 id="linux">Linux</h3>
          <div class="ulist">
            <ul>
              <li>
              <p>Packages for various distributions: 
                <a href="https://forum.rigsofrods.org/thread-68.html">here</a>
              </p>
              </li>
              <li>
              <p>Build from source, see 
                <a href="https://github.com/RigsOfRods/rigs-of-rods/wiki/Compile-(Linux)">Compiling on Linux</a>
              </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="sect2">
          <h3 id="os_x">OS X</h3>
          <div class="paragraph">
            <p>Unfortunately, due to lack of OS X coders, there is no up to date build of the latest version available.
            </p>
          </div>
          <div class="ulist">
            <ul>
              <li>
              <p>If you want to build from source see 
                <a href="https://github.com/RigsOfRods/rigs-of-rods/wiki/Compile-(OS-X)">Compiling on OS X</a>
              </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="overview_readme_faq">Overview / Readme / FAQ</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>Many questions are answered in the documentation, have a look around: 
            <a href="http://docs.rigsofrods.org/">Documentation index</a>
          </p>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="license">License</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>Rigs of Rods is free and open source software under the GPL v3 license, meaning it is both free as in speech (you can modify it) and free as in beer (it does not cost you anything).
          </p>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="legacy">Legacy</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>If you are interested in Rigs of Rods' history check out the museum 
            <a href="http://sourceforge.net/projects/rigsofrods/files/rigsofrods/museum/">here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>