<div class="start">           
  <div class="row">                   
    <section class="section-dl">                           
      <div class="row">                                   
        <div class="large-12 columns">                                           
          <div class="row">                                                   
            <div class="large-5 columns startbanner">                                                           
              <img src="/images/logos/rorlogo.png">                                                           
              <h3 class="slogan">Soft Body Physics Simulator</h3>                                                   
            </div>                                           
          </div>                                           
          <div class="download-wrapper">                                                   
            <a class="button download" href="//download.rigsofrods.org/">                                                           
              <span class="fa fa-download">                                                           
              </span> Download                                                            
              <br></a>                                           
          </div>                                   
        </div>                           
      </div>                   
    </section>           
  </div>
</div>
<div class="row">                  
  <div class="row">                     
    <h3 class="columns">Rigs of Rods is an open source vehicle simulator based on soft-body physics</h3>                                 
  </div>               
  <div class="large-9 columns">                         
    <p>Rigs of Rods is an <b>open source</b> vehicle simulator licensed under the GNU General Public License version 3.              
      <br> What makes Rigs of Rods different to most simulators is its unique soft-body physics: vehicles, machines, objects, etc. are simulated in real-time as flexible soft-body objects, giving the simulation an extremely accurate behavior which entirely depends on the physical construction of the vehicles or objects you create.                           
    </p>                 
  </div>                  
  <div class="iconbox large-3 columns show-for-medium">                       
    <center>                      
      <div class="section-icon">                                     
        <div class="fa fa-truck">                                     
        </div>                             
      </div>                    
    </center>            
  </div>           
  <hr/>          
  <div class="row">                   
    <h3 class="columns">Features</h3>                                      
    <div class="large-12 columns">                    
      <ul>    	                           
        <li>Soft-body physics. Objects according to their weight distribution, construction, and/or suspension (in the case of vehicles).                           
        </li>    	                           
        <li>Advanced flight model based on blade element theory. It allows the accurate simulation of any airplane, based entirely on its physical dimensions and wing airfoils, similar to X-Plane.                           
        </li>    	                           
        <li>Accurate buoyancy model based on elemental pressure gradients, enabling boats with complex hulls to move realistically in the swell.                           
        </li>    	                           
        <li>Basic support for dual-core processing. More multithreading and CUDA support is planned.                           
        </li>    	                           
        <li>Basic support for scripting using AngelScript.                           
        </li>    	                           
        <li>Based on the OGRE Graphics Engine                           
        </li>                         
      </ul>                    
    </div>        
  </div>          
  <hr/>          
  <div class="columns row">             
    <h3 >See for yourself</h3>                                
    <div class="orbit" role="region" aria-label="Rigs of Rods Screenshots" data-orbit>                    
      <ul class="orbit-container">                          
        <button class="orbit-previous">                     
          <span class="show-for-sr">Previous Slide                      
          </span>&#9664;&#xFE0E;                  
        </button>                          
        <button class="orbit-next">                     
          <span class="show-for-sr">Next Slide                      
          </span>&#9654;&#xFE0E;                  
        </button>                          
        <li class="is-active orbit-slide">                                  
              
          <div class="flex-video">
            <iframe width="1920" height="1080" frameborder="0" src="https://www.youtube-nocookie.com/embed/bRbQ4OaljWs" allowfullscreen></iframe>
          </div>
        </li>                          
        <li class="orbit-slide">                                
          <img class="orbit-image" src="images/screenshots/ror-screenshot2.jpg" alt="Rigs of Rods Screenshot">                          
        </li>                          
        <li class="orbit-slide">                                
          <img class="orbit-image" src="images/screenshots/ror-screenshot3.jpg" alt="Rigs of Rods Screenshot">                          
        </li>                          
        <li class="orbit-slide">                                
          <img class="orbit-image" src="images/screenshots/ror-screenshot4.jpg" alt="Rigs of Rods Screenshot">                          
        </li>                          
        <li class="orbit-slide">                                
          <img class="orbit-image" src="images/screenshots/ror-screenshot5.jpg" alt="Rigs of Rods Screenshot">                          
        </li>                          
        <li class="orbit-slide">                                
          <img class="orbit-image" src="images/screenshots/ror-screenshot6.jpg" alt="Rigs of Rods Screenshot">                          
        </li>                          
        <li class="orbit-slide">                                
          <img class="orbit-image" src="images/screenshots/ror-screenshot7.jpg" alt="Rigs of Rods Screenshot">                          
        </li>                          
        <li class="orbit-slide">                                
          <img class="orbit-image" src="images/screenshots/ror-screenshot8.jpg" alt="Rigs of Rods Screenshot">                          
        </li>                    
      </ul>                    
      <nav class="orbit-bullets">                          
        <button class="is-active" data-slide="0">                 
        </button>                          
        <button data-slide="1">                 
        </button>                          
        <button data-slide="2">                 
        </button>                          
        <button data-slide="3">                 
        </button>                          
        <button data-slide="4">                 
        </button>                          
        <button data-slide="5">                 
        </button>                          
        <button data-slide="6">                 
        </button>                          
        <button data-slide="7">                 
        </button>                          
      </nav>              
    </div>        
  </div>           
  <hr/>        
  <div class="row">              
    <h3 class="columns">100% free and open source</h3>                                
    <div class="large-9 columns">                    
      <p>Rigs of Rods has been developed since 2005 by hundreds of volunteers around the world. It is open source and available under the                            
        <a href='https://www.gnu.org/copyleft/' title='Copyleft licensing'>copyleft</a>-style                            
        <a href='http://www.gnu.org/licenses/gpl-3.0.html' title='The GPLv3 license'>GPLv3</a> license.                     
      </p>                    
      <p><b>The game is and will always be free software.</b>                    
      </p>                    
      <p>Moreover, as volunteer-developed software, our community welcomes all kinds of contributions. In case you would like to give a hand, you can find the source code                            
        <a href='https://github.com/rigsofrods/rigs-of-rods'>at GitHub</a>.                     
      </p>              
    </div>              
    <div class="large-3 columns">        
<script type='text/javascript' src='https://www.openhub.net/p/rigs-of-rods/widgets/project_factoids_stats?format=js'></script>                
    </div>        
  </div>        
  <hr/>        
  <div class="row">                   
    <h3 class="columns">Recommended System Requirements</h3>                         
    <div class="large-12 columns">                      
      <ul>                          
        <li> OS: Windows, Linux or OS X                  
        </li>                          
        <li> CPU: Intel Core 2 Duo or AMD Athlon 64 X2                  
        </li>                          
        <li> RAM: 2048 MB                  
        </li>                          
        <li> Video Card: Geforce 8600GT or AMD Radeon 3650 or Intel HD Graphics 3000                  
        </li>                      
      </ul>                 
    </div>        
  </div>            
</div>
</div>
